target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
backend/.idea/modules.xml
backend/.idea/jarRepositories.xml
backend/.idea/compiler.xml
backend/.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
backend/build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
backend/.vscode/
.vscode/

### Mac OS ###
backend/.DS_Store
.DS_Store

# Because contains our API key
backend/src/main/resources/application.properties
